mat-card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/../assets/back.jpg");
    background-size: cover;
    background-position-y: -20vh;
  }

  .actions {
    padding: 7px 7px 0 7px;
    margin-bottom: 20px;
}

.mat-card-actions .mat-flat-button {
    margin: 0 4px;
    border-radius: 5px !important;
}

